<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4D Tic Tac Toe</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/uiBoard.js"></script>
    <script src="/javascripts/chatter.js"></script>
    <script src="/javascripts/gameRoom.js"></script>
    <link rel="stylesheet" type="text/css" href="/gameRoom.css">
</head>
<body>
<div id="game_div">
<header id="menubar">
<div id="settings">
    <div class="setDiv">
        <input type="text" class="gameSet" placeholder="Enter Name:" id="player_name">
        <button class="gameSet" id="change_name">Change Name!</button>
    </div>
    <div class="setDiv">
        <label class="gameSet" for="num_players">Number of Players:</label>
        <select class="gameSet" id="num_players"></select>
    </div>
    <div class="setDiv">
    <label class="gameSet" for="dimensions">Number of Dimensions:</label>
    <select class="gameSet" id="dimensions"></select>
    </div>
    <div class="setDiv">
        <label class="gameSet" for="grid">Grid Size:</label>
    <select class="gameSet" id="grid"></select>
    </div>
    <button id="start">Start Game!</button>
    <div id="yourTurn">

    </div>
</div>
</header>
<div id="player_panel">

</div>
<div id="game_screen"></div>

<div id="chat">
    <div id="chat_screen">
    </div>
    <div id="chat_type">
    </div>
    <div id="chat_entry">
        <div id="text_wrapper">
            <textarea id="chat_box"></textarea>
        </div>
        <div id="submit_wrapper">
            <button id="chat_submit">Send</button>
        </div>
    </div>
</div>
</div>
</body>
</html>