<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4D Tic Tac Toe</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/screen.js"></script>
</head>
<body>
    <p>Join or Create a Game:</p>
    <form>
        <input type="text" id="join">
    </form>
    <button type="button" id="jSubmit">Click Me!</button>
    <button type="button" id="something">Click Me!</button>
<!This is a comment: fire a socket event on the "Join Room" button to search for the room, if it exists, join it, if not, create a new room>
</body>
</html>
