body {
    margin:0 4px;
}

.description {
    text-align: center;
    font-family: "Lucida Grande", Helvetica, sans-serif;
    font-size: 48px;
}

#settings {
    height: 6vh;
    width:100%;
}

#player_panel {
    float: right;
    overflow-y:scroll;
    height:65vh;
    width:10%;
}


.setDiv {
    float:left;
    width:15%;
    position: relative;
    top: 12.5%;
    margin-left: 2vw;
}

.gameSet {
    display:block;
    width:80%;
}


#start {
    float:left;
    height: 100%;
    width:5%;
    position: relative;
    top: 12.5%;
    margin-left: 2vw;
}

#chat {
    position: fixed;
    bottom:0;
    height:35vh;
    width: 99.5%;

}

#chat_screen {
   /* position: fixed;
    bottom:10vh;*/
    overflow-y:scroll;
    height:67.5%;
    width: 100%;
}

#type_wrapper {
    position: fixed;
    bottom:6vh;
    width:100%;
}

#chat_type {
    vertical-align: top;
    height:7.5%;
    width: 100%;
}

#chat_entry {
    width: 100%;
    position: fixed;
    bottom:0;
    height:8%;
}

#typing {
    height:25%;
}

#text_wrapper {
    width: 85%;
    height:70%;
    float: left;
}

#chat_box {
    height:90%;
    width:100%;
    resize: none;
    font-size: 16pt;
}

#submit_wrapper {
    width: 14%;
    height:70%;
    float: right;
}

#chat_submit {
    height:100%;
    width:90%;
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

.menuEl {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menuEl:hover {
    background-color: #111111;
}
*/