body {
    position: relative;
}

.description {
    text-align: center;
    font-family: "Lucida Grande", Helvetica, sans-serif;
    font-size: 48px;
}

#settings {
    height: 8vh;
    text-align: center;
}

#player_panel {
    float: right;
    overflow-y:scroll;
    height:65vh;
    width:10%;
}

.gameSet {
    width: 10%;
    height: 6vh;
    position: relative;
    top: 12.5%;
    margin-left: 2vw;
}

#chat {
    position: fixed;
    bottom:25vh;
    width: 100%;
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

.menuEl {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menuEl:hover {
    background-color: #111111;
}
*/